<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pathfinder - Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/mobile.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9Si0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>

<body>
<main class="p-5 align-content-center bg-blur my-login-div">
    <h1 class="border-bottom mb-5 text-center">Login</h1>

    <div class="d-flex justify-content-center">
        <div class="col-md-6 col-lg-4">
            <!-- Success Message -->
            <div th:if="${successMessage}" class="alert alert-success text-center">
                <p th:text="${successMessage}"></p>
            </div>

            <form th:action="@{/users/login}" method="post">
                <!-- Username -->
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="text" name="username" id="inputUsername" class="form-control"
                           required minlength="4" maxlength="20"/>
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           required minlength="4" maxlength="20"/>
                </div>

                <!-- Submit Button -->
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-100" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</main>

<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Lucho, Chocho & Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>
</body>

</html>
