<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pathfinder</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/mobile.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9Si0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>

<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom">Register</h1>
    <div class="d-flex justify-content-center">
        <div class="row g-3">
            <form th:action="@{/users/register}" th:object="${user}" method="post" novalidate>
                <!-- Username -->
                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label">Username</label>
                    </div>
                    <div class="col-auto">
                        <input name="username" th:field="*{username}" type="text" id="inputUsername"
                               class="form-control"/>
                        <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                               class="text-danger"></small>
                    </div>
                </div>

                <!-- Full Name -->
                <div>
                    <div class="col-auto">
                        <label for="inputFullName" class="col-form-label">Full Name</label>
                    </div>
                    <div class="col-auto">
                        <input name="fullName" th:field="*{fullName}" type="text" id="inputFullName"
                               class="form-control"/>
                        <small th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
                               class="text-danger"></small>
                    </div>
                </div>

                <!-- Email -->
                <div>
                    <div class="col-auto">
                        <label for="inputEmail" class="col-form-label">Email</label>
                    </div>
                    <div class="col-auto">
                        <input name="email" th:field="*{email}" type="email" id="inputEmail" class="form-control"/>
                        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></small>
                    </div>
                </div>

                <!-- Age -->
                <div>
                    <div class="col-auto">
                        <label for="inputAge" class="col-form-label">Age</label>
                    </div>
                    <div class="col-auto">
                        <input name="age" th:field="*{age}" type="number" id="inputAge"
                               class="form-control"/>
                        <small th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
                               class="text-danger"></small>
                    </div>
                </div>

                <!-- Password -->
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label">Password</label>
                    </div>
                    <div class="col-auto">
                        <input name="password" th:field="*{password}" type="password" id="inputPassword"
                               class="form-control"/>
                        <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="text-danger"></small>
                    </div>
                </div>

                <!-- Confirm Password -->
                <div>
                    <div class="col-auto">
                        <label for="inputConfirmPassword" class="col-form-label">Confirm Password</label>
                    </div>
                    <div class="col-auto">
                        <input name="confirmPassword" th:field="*{confirmPassword}" type="password"
                               id="inputConfirmPassword" class="form-control"/>
                        <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                               class="text-danger"></small>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Register</button>
                </div>

                <!-- Success Message -->
                <div th:if="${successMessage}" class="alert alert-success mt-3">
                    <p th:text="${successMessage}"></p>
                </div>
            </form>
        </div>
    </div>
</main>
</body>

</html>
