<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <form class="welcome add-offer-form" method="post" action="/paintings/add" th:object="${paintingAddDTO}">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Painting</span></h1>

        <!-- Name Field -->
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2">Name</label>
            </div>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" />
            <small class="danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error message</small>
        </div>

        <!-- Author Field -->
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="author" class="h4 mb-2">Author</label>
            </div>
            <input type="text" class="form-control" id="author" name="author" th:field="*{author}" />
            <small class="danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error message</small>
        </div>

        <!-- Image URL Field -->
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="image" class="h4 mb-2">Image URL</label>
            </div>
            <textarea class="form-control" id="image" name="image" th:field="*{imageUrl}"></textarea>
            <small class="danger" th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}">Image URL error message</small>
        </div>

        <!-- Style Dropdown -->
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="style" class="h4 mb-2">Style</label>
            </div>
            <select class="browser-default custom-select" id="style" name="style" th:field="*{style}">
                <option value="" disabled selected>Select style</option>
                <option th:each="style : ${styles}" th:value="${style.styleName}" th:text="${style.styleName}"></option>
            </select>
            <small class="danger" th:if="${#fields.hasErrors('style')}" th:errors="*{style}">Style error message</small>
        </div>

        <!-- Submit Button -->
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-info mb-3">Add Painting</button>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
